{% extends 'main/base.html' %}

{% block main %}
<div class="row">
    <div class="col-md-6 mx-auto">
        <section class="container text-uppercase text-center">
            <h2>create menu</h2>
            <form action="" method='POST'>
                {% for field in form %}
                    {{field.label(class='form-label')}}
                    <p>{{field(class='form-control')}}</p>
                    {% for error in field.errors %}
                        <p>{{error}}</p>
                    {% endfor %}
                {% endfor %}
                <input type="submit" class="btn btn-primary btn-block text-uppercase" value="create">
            </form>
        </section>
    </div>
</div>

{% endblock %}