{% extends 'main/base.html' %}

{% block main %}
<section>
    <h2>welcome {{current_user.type}} {{current_user.email}}</h2>
    <hr>
    <a href="{{url_for('restaurants.index')}}">restaurants</a>
    {% if current_user.type == 'user' %}
        <h3>order now</h3>
    {% elif current_user.type == 'restaurant' %}
        <h3>view order</h3>
    {% elif current_user.type == 'delivery agent' %}
        <h3>deliver now</h3>
    {% else %}
        <h3>view dashboard</h3>
    {% endif %}
</section>
{% endblock %}