{% extends 'main/base.html' %}

{% block main %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <section class="container text-uppercase">
            <div class="jumbotron">
                <h2>welcome {{current_user.email}}</h2>
                <hr>
                {% if current_user.restaurant %}
                    <a href="{{url_for('restaurants.view',id=current_user.restaurant[0].id)}}">{{current_user.restaurant[0]}}</a>
                {% else %}
                    <a href="{{url_for('restaurants.new',uid=current_user.id)}}" class="btn btn-success">create restaurant</a>
                {% endif %}
            </div>
        </section>
    </div>
</div>
{% endblock %}