<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>food</title>
</head>
<body>
    <header>
        <h1>OnlineFoodDeliveryApp</h1>
    </header>
    <nav>
        <ul>
            {% if not current_user.is_authenticated %}
                <li><a href="{{ url_for('restaurants.home')}}">home</a></li>
                <li><a href="{{ url_for('restaurants.login')}}">login</a></li>
                <li><a href="{{ url_for('restaurants.signup')}}">signup</a></li>
                <li><a href="{{ url_for('main.about')}}">contact us</a></li>
                <li><a href="{{ url_for('main.contact')}}">about us</a></li>
            {% else %}
                <li><a href="{{ url_for('restaurants.home')}}">home</a></li>
                {% if current_user.is_admin %}
                    <li><a href="{{ url_for('admin.index')}}">dashboard</a></li>
                {% endif %}
                <li><a href="{{ url_for('restaurants.logout')}}">logout</a></li>
            {% endif %}
        </ul>
    </nav>
    <main>
        {% for message in get_flashed_messages() %}
            <p>{{message}}</p>
        {% endfor %}

        {% block main %}
        {% endblock %}
    </main>
</body>
</html>