{% extends 'main/base.html' %}

{% block main %}
<div class="row mt-2">
    <div class="col-md-8 mx-auto">
        <section class="container text-uppercase">
            <div class="jumbotron text-center">
                <h2 class="text-capitalize">welcome to Online Food Delivery App</h2><br>
                <a class="btn btn-primary" href="{{ url_for('accounts.login') }}">login</a>
                <a class="btn btn-info" href="{{url_for('accounts.signup',type='user')}}">signup</a>
            </div>    
        </section>
    </div>
</div>

<section>
    <ul>
        <li><a href="{{url_for('accounts.signup',type='user')}}">user</a></li>
        <li><a href="{{url_for('accounts.signup',type='restaurant')}}">restaurant</a></li>
        <li><a href="{{url_for('accounts.signup',type='delivery agent')}}">delivery</a></li>
    </ul>
</section>
{% endblock %}